<h2 class="text-center">Listings</h2>
<h2 class="btn btn-outline-primary my-2 my-sm-0 ms-2 "> <%= link_to "Add Flat ", new_flat_path %> </h2>

<div class="container">
 <div class="row">
    <!-- Add a new column for each listing -->
    <% @flats.each do |flat| %>
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= flat.name %></h5>
            <p class="card-text"><%= flat.address %></p>
            <p class="card-text">Description : <%= flat.description %></p>
            <p class="fa-solid fa-euro-sign"> : <%= flat.price_per_night %> EUR</p>
            <br>
            <p class="fa-solid fa-people-line"> : <%= flat.number_of_guests %> person</p>
            <br>
            <%= link_to "More info", flat_path(flat) %>
            <%= link_to "Edit", edit_flat_path(flat), class: "ms-3 text-warning" %>
          </div>
        </div>
      </div>
    <% end %>
 </div>
</div>
